$login-blue: rgb(46, 129, 252);

@media screen and (max-width: 1000px) {
  .login {
    background-color: #f2f1ed;
    border-radius: 50px;
    margin: 20px;
  }

  .introduction {
    background-color: $login-blue;
    border-radius: 50px;
    padding: 25% 10% 25% 10%;
    margin: 20px;
  }

  .credentials {
    padding: 25% 10% 25% 10%;
    display: block;
  }

  .input {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  .btn-register {
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
  }

}

@media screen and (min-width: 1001px) {
  .content {
    width: 80%;
    margin-left: 10%;
    font-family: Geneva, serif;
    display: inline-flex;
  }

  .credentials {
    padding: 20% 10% 20% 10%;
    display: inline-block;
  }

  .register {
    width: 50%;
    color: white;
    height: 100%;
  }

  .login {
    width: 50%;
    background-color: #f2f1ed;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .introduction {
    background-color: $login-blue;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 25% 10% 25% 10%;
  }

  .input {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: none;
    display: block;
    width: 400px;
    margin-bottom: 30px;
  }

  .btn-register {
    width: 200px;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
  }

}



.welcome-text {
  margin: 25px 25px 50px 0px;
}

h2.register-title {
  font-size: 40px;
  color: white;
}

h2.login-title {
  font-size: 40px;
  color: $login-blue;
}





.coloring-login {
  background-color: $login-blue;
  color: white;
}

.coloring-register {
  color: $login-blue;
}
