<main class="content">
  <div class="register">
    <div class="introduction">
      <h2 class="register-title">Welcome to CSS-Cup</h2>
      <p class="welcome-text">
        Der CSS-Cup findet auch dieses Jahr wieder statt. Um dich einem Team anzuschliessen oder ein eigenes Team zu
        gründen, musst du ein Profil anlegen.
      </p>
      <button type="button" class="btn-register coloring-register" (click)="navigateToRegister()">Registrieren</button>
    </div>
  </div>
  <div class="login">
    <div class="credentials">
      <h2 class="login-title">Sign-In</h2>
      <input type="text" class="input" placeholder="email" [(ngModel)]="loginCredentials.email">
      <input type="text" class="input" placeholder="passowrd" [(ngModel)]="loginCredentials.password">
      <button class="btn-register coloring-login" (click)="login()">Login</button>
    </div>
  </div>

</main>
