<main class="content">
  <div class="team" *ngFor="let team of teams">
    <div class="team-header">
      <h3 class="team-title">Team</h3>
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-body">
      ölöölaksjdfölkasdf
    </div>
    <div class="team-join">
      JOIN
    </div>
  </div>
</main>
