.content {
  width: 80%;
  height: 1000px;
  margin-left: 10%;
  margin-right: 10%;
}

.team-header {
  text-align: center;
  background: deepskyblue;
  border: 1px black solid;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}



.team-body {
  background-color: #fcfcfc;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.team-join {

  text-align: center;
  background-color: deepskyblue;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-bottom: 10%;
  font-size: 24px;
  color: white;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.team-title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 24px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}


.team-body:first-child {
  border-top: 1px solid black;
}

.team-body:nth-child(2n + 1) {
  background-color: #abdaf5;
}


@media screen and (min-width: 400px) {

  .team {
    width: 100%;
  }

  .team-header {
    width: 100%;
  }

}

@media screen and (min-width: 1400px) {

  .team {
    width: 30%;
  }

  .right-sided {
    float: right;
  }

  .teams {
    display: flex;
    flex-wrap: wrap;
  }

  .team:nth-child(3n + 2) {
    margin-left: 5%;
    margin-right: 5%;
  }

}



.toolbox-container {
  width: 80%;
  height: 100px;
  margin-left: 10%;
  text-align: center;
}

@media screen and (min-width: 2000px){

}
