<main class="content col-md-6 offset-3">
  <form class="create-team">
    <div class="form-group centered">
      <h1>{{teamView.teamName}}</h1>
    </div>
    <div class="form-group centered">
     <app-discipline-switch-button></app-discipline-switch-button>
    </div>
    <div class="form-group">
      <label for="teamname"></label>
      <input [(ngModel)]="teamView.teamName"
             [ngModelOptions]="{standalone: true}"
             name="teamname"
             type="text"
             id="teamname"
             class="form-control"
      >
    </div>
    <div class="form-group">
      <button type="button" (click)="toggleDropDown()" class="btn btn-primary full-width"> Players without a team</button>
      <div class="dropdown-container full-width" *ngIf="dropdown">
        <div class="dropdown-player-item" *ngFor="let player of teamView.playerSolo" (click)="addPlayerToTeam(player)">
          {{player.firstname}} {{player.lastname}} ({{player.function}})
        </div>
      </div>
    </div>
    <div class="players-container">
      <div class="item" *ngFor="let player of teamView.playerTeam" (click)="removePlayerFromTeam(player)">
        {{player.firstname}} {{player.lastname}} {{player.function}} &#10004;
      </div>
    </div>
    <div class="form-group centered">
      <button type="submit" class="btn btn-primary" (click)="submit()">Erstellen</button>
    </div>
  </form>
  <div class="alert alert-danger" *ngIf="displayError">
    Teamname muss zwischen 4 und 29 Buchstaben sein.
  </div>
</main>
