input.search-bar {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

button.search-button {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.participant-table {
  width: 100%;
  height: 1000px;
  margin-top: 40px;
}


@media screen and (max-width: 400px) {
  .search-bar {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }

  input.search-bar {
    margin: 0;
  }

  .search-button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}


@media screen and (min-width: 1400px) {
  .content {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 1000px;
  }

  .search-bar {
    margin-left: 12.5%;
  }


  .search-bar {
    width: 70%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
  }

  .search-button {
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 20px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 10%;
    background-color: deepskyblue;
  }



  .table-header {
    display: flex;
  }

  .table-col-firstname {
    width: 20%;
    text-align: center;
    height: 50px;
  }

  .table-col-lastname {
    width: 20%;
    text-align: center;
    height: 50px;
  }

  .table-col-function {
    width: 8%;
    text-align: center;
    height: 50px;
  }

  .table-col-role {
    width: 20%;
    text-align: center;
    height: 50px;
  }

  .table-col-team {
    width: 20%;
    text-align: center;
    height: 50px;
  }

  .table-col-toolbar {
    width: 15%;
    text-align: center;
    border-top-right-radius: 50px;
    height: 50px;
  }

  .table-col-toolbar:first-child {
    border-top-right-radius: 50px;
  }

  .table-col-firstname:first-child {
    border-top-left-radius: 50px;
  }

  .table-body {
    display: flex;
    padding-bottom: 10px;
  }

  .table-body:nth-child(2n + 1) {
    background-color: #abdaf5;
  }

  .padding {
    padding-top: 20px;
  }

  .coloring {
    background-color: deepskyblue;
  }

  i {
    margin-right: 5px;
    margin-left: 5px;
  }

  div.boxing {
    height: 30px;
    padding-top: 10px;
    font-size: 20px;
  }


}

@media screen and (min-width: 2000px) {

}
