<div class="col-md-6 offset-3">
  <form (ngSubmit)="register(registerForm)" [formGroup]="registerForm">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Vorname" formControlName="firstname">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nachname" formControlName="lastname">
    </div>
    <div class="form-group">
      <select class="form-control">
        <option>Captain</option>
        <option>Spieler</option>
      </select>
    </div>
    <div class="form-group content-centered">
      <app-discipline-switch-button></app-discipline-switch-button>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="email" formControlName="email">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="passwort" formControlName="password">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="passwort bestätigen" formControlName="passwordConfirm">
    </div>
<!--    <div class="form-group content-centered">-->
      <input type="submit" class="btn btn-primary" value="Registrieren" [disabled]="!registerForm.valid">
<!--    </div>-->
  </form>
</div>
