.button-wrapper {
  display: inline-flex;
  text-align: center;
}

.btn-group-member {
  width: 100px;
}

.btn-left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  border-right: none;
  background: white;
}

.btn-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  background: white;
  //border-left: none;
}

.switcher-active {
  background: #abdaf5;
}

.icon {
  height: 50px;
  width: 50px;
}
