<div class="button-wrapper">
  <div class="button-football">
    <button class="btn-left btn-group-member" type="button" [ngClass]="{'switcher-active' : isFootball}" (click)="switchDiscipline(true)">
      <img class="icon" src="assets/icon_football.webp">
    </button>
  </div>
  <div class="button-volleyball">
    <button class="btn-right btn-group-member" type="button" [ngClass]="{'switcher-active' : !isFootball}" (click)="switchDiscipline(false)">
      <img class="icon" src="assets/icon_volleyball.webp">
    </button>
  </div>
</div>
