<nav class="nav">
  <div class="flexbox">
<!--    <div class="menu-item"><img alt="CSS Versicherungs Logo" class="logo-size" src="./assets/CSS_Versicherung.png"></div>-->
    <div class="menu-item"><p class="menu-tag"><a routerLink="/uebersicht" class="nav-link">Übersicht</a></p></div>
    <div class="menu-item"><p class="menu-tag"><a routerLink="administration" class="nav-link">Adminitration</a></p> </div>
    <div class="menu-item"><p class="menu-tag"><a routerLink="/auth/login" class="nav-link">Login</a></p></div>
    <div class="menu-item"><p class="menu-tag"><a routerLink="home" class="nav-link">Home</a></p> </div>
    <div class="menu-item"><p class="menu-tag"><a routerLink="auth/login" class="nav-link">Login</a> </p> </div>
  </div>
</nav>
