$light_grey: #f2eeed;
$ulrta_light: #faf5f5;
$menu-item: #e6e7e8;


.nav {
  width: 80%;
  font-family: Geneva;
}

@media screen and (max-width: 400px) {
  .nav {
    //background: red;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  div.flexbox {
    width: 100%;
  }
  a.nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  a.nav-link:hover {
    background: $menu-item;
  }

  p.menu-tag {
    margin: 0;
    background: $ulrta_light;
    border-bottom: $light_grey 1px solid;
  }

  p.menu-tag:last-child {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .logo-size {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 401px) {
  .nav {
    background-color: $light_grey;
    overflow: hidden;
    border: 1px solid $menu-item;
    border-radius: 20px;
    margin: 50px 10% 50px 10%;
  }

  .flexbox {
    display: flex;
  }

  .menu-item {
    color: #e6e7e8;
    text-align: center;
    display: block;
  }

  .menu-item:hover {
    background-color: #e6e7e8;
  }

  .menu-tag {
    margin: 40px 40px;
    font-size: 32px;
    color: deepskyblue;
  }

  .menu-tag a {
    text-decoration: none;
    color: deepskyblue;
  }

  .logo-size {
    height: 150px;
    width: 150px;
    padding: 20px;
  }
}
//
//@media screen and (min-width: 1500px) {
//
//}
