<nav class="nav">
  <div class="flexbox">
    <div class="menu-item"><img alt="CSS Versicherungs Logo" class="logo-size" src="./assets/logo_final.svg" routerLink=""></div>
    <div class="menu-item"
         *ngIf="authService.user.hasAuthority('ROLE_PARTICIPANT', 'ROLE_CAPTAIN', 'ROLE_ADMIN')"
    ><p class="menu-tag"><a routerLink="/uebersicht" class="nav-link">Übersicht</a></p></div>

    <div class="menu-item"
         *ngIf="authService.user.hasAuthority('ROLE_ADMIN')"
    ><p class="menu-tag"><a routerLink="administration" class="nav-link">Adminitration</a></p> </div>

    <div class="menu-item"
        *ngIf="authService.user.hasAuthority('ROLE_UNDECIDED')"
    ><p class="menu-tag"><a routerLink="/auth/login" class="nav-link">Login</a></p></div>
  </div>
</nav>
